.Nav {
  width: 10vw;
  height: 10vh;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0vh;
  left: 0vw;
  transition: 1s ease;
  z-index: 5;

  &:hover {
    background: #00e6d2;
  }

  .box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  i {
    color: #fff;
    font-size: 35px;
  }
}

@media screen and (max-width: 1192px) {
  .Nav {
    background: #00e6d2;
    width: 15vw;
  }
}

@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
  .Nav {
    width: 20vw;

    i {
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  //IPAD
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
}
