.Hotel {
  height: 100%;
  overflow: hidden;
}

.HotelContainer {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s ease;

  .info {
    width: 60vw;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 48px;
      font-weight: 400;
    }

    .description {
      width: 100%;

      .row {
        color: #fff;
        display: flex;
        width: 100%;

        h3 {
          font-size: 26px;
          width: 50%;
          text-align: center;
          border-bottom: 1px solid #00ffe9;
          font-weight: 300;
        }

        span {
          color: #00ffe9;
        }
      }

      h4 {
        text-align: center;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        border-bottom: 1px solid #00ffe9;
      }

      h2 {
        text-align: center;
        // border: 1px solid #fff;
        width: 30%;
        margin: 8vh auto;
        color: #fff;
        cursor: pointer;
        padding: 2vh 2vw;
        background: darken(#00ffe9, 5%);
        transition: 1s ease;
        font-weight: 400;

        &:hover {
          background: darken(#00ffe9, 10%);
        }
      }
    }
  }
}

.Reservation {
  height: 50vh;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 0 auto;

  h2 {
    font-size: 35px;
  }

  .picker {
    display: flex;
    width: 60%;
    margin: 5vh auto;

    .datePicker {
      width: 48%;
      margin: 2vh 1vw;
    }
  }

  h3 {
    padding: 1vh 2vw;
    color: #fff;
  }

  h4 {
    font-weight: 400;
    padding: 1vh 2vw;
    color: #fff;
    text-align: center;
    animation: alert 1s ease;
  }
}

@keyframes alert {
  0% {
    transform: translateX(-500vw);
  }
  100% {
    transform: translateX(0);
  }
}
.disable {
  pointer-events: none;
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.5);
}

.able {
  background: linear-gradient(90deg, #f10fc0ba, #624994);
  box-shadow: 0px 0px 35px 0px #f10fc0ba;
  cursor: pointer;

  &:hover {
    box-shadow: none;
  }

  &:active {
    background: #624994;
  }
}

#success {
  background: #5dd87e;
}

@media screen and (max-width: 1192px) {
  .HotelContainer {
    .info {
      .description {
        h2 {
          padding: 1vh 1vw;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .HotelContainer {
    .info {
      width: 80vw;
    }
  }
  .Reservation {
    width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  .HotelContainer {
    .info {
      .description {
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .HotelContainer {
    .info {
      width: 90vw;
      h1 {
        font-size: 35px;
      }
      .description {
        .row {
          h3 {
            font-size: 18px;
            padding: 1vh 0;
          }
        }
        h4 {
          font-size: 18px;
          margin: 1vh 0;
        }
        h2 {
          width: 50%;
        }
      }
    }
  }

  .Reservation {
    height: 100%;
    h2 {
      font-size: 28px;
      text-align: center;
    }

    .picker {
      height: 100%;
      flex-direction: column;
      margin: 0;

      .datePicker {
        height: 8vh;
        width: 100%;
      }
    }
    h3 {
      font-weight: 400;
    }
  }

  #succes {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .HotelContainer {
    .info {
      h1 {
        font-size: 28px;
        margin-bottom: 5px;
      }
      .description {
        .row {
          h3 {
            font-size: 14px;
          }
        }
        h4 {
          font-size: 14px;
        }
        h2 {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-aspect-ratio: 4/3) {
  //IPAD
  .Reservation {
    .picker {
      .datePicker {
        height: 10vh;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .HotelContainer {
    height: 100vh !important;

    .info {
      h1 {
        font-size: 40px;
      }
    }
  }

  .Reservation {
    height: 100%;
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
}
