.Form {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background: #333;
  // color: #fff;
  color: #333;

  h1 {
    text-align: center;
  }

  .input {
    input,
    select {
      width: 20vw;
      border-radius: 5px;
      outline: none;
      border: none;
      border: 1px solid #d6d6d6;
      padding: 1vh 0;
      margin: 1vh auto;
      padding-left: 2vw;

      &:focus {
        border: 1px solid #624994;
      }
    }
  }

  a {
    // border: 1px solid #333;
    padding: 1vh 2vw;
    margin-top: 2vh;
    text-decoration: none;
    border-radius: 5px;

    h5 {
      color: #fff;
      text-decoration: none;
      width: 100%;
      // padding: 2vh 1vw;
      font-size: 20px;
      margin: 0;
      font-weight: 400;
    }
  }
}

select {
  // border-radius: 35px;
  width: 10vw;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 15px;

  option {
    font-weight: 400;
  }
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.5);
}

.able {
  background: linear-gradient(90deg, #f10fc0ba, #624994);
  box-shadow: 0px 0px 35px 0px #f10fc0ba;

  &:hover {
    box-shadow: none;
  }
}
